/aiobservers.db
/auctionitems.db
/buffs.db
/cityregions.db
/clientobjects.db
/databases.db
/draftschematics.db
/guilds.db
/mail.db
/missionobjectives.db
/missionobservers.db
/playerstructures.db
/resourcespawns.db
/sceneobjects.db
/spawnareas.db
/spawnobservers.db
/strings.db
/__db.*
/*.db
/log.*
